<html>
<head>
    <title>My Weather App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    </head>
    
    <body>
        <form>
            Hi BigCheese, choose city for forecast : <input type="text" name="searchcity"> <input type="Submit" value="Submit">
            <input type="checkbox" name+"remember" checked="checked"> Save<br/>
        </form>
        
        <h1>Weather forecast for {{location}}</h1>
        {% for day in forecast_list %}
        <p>{{day[0]}} &ndash; {{day[1]}} &ndash; {{day[2]}} &ndash; {{day[3]}} </p>
        {% endfor %}
        
        <br><br>
        
        <table border="1">
        <tr>
            <th>Date</th><th>Min</th><th>Max</th><th>Description</th>
            {% for day in forecast_list %}
                <tr>
                    <td>{{day[0]}}</td>
                    <td>{{day[1]}}</td>
                    <td>{{day[2]}}</td>
                    <td>{{day[3]}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>